body {
    font-family: Baskerville, Georgia, serif;
}

header{
    height:100px;
}

ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.nav {
  background: rgb(42, 41, 40);
  height: 60px;
}

.nav li {
  display: inline-block;
  list-style: none;
  height: 60px; /* should be the same as line-height */
  line-height: 60px; /* should be the same as height */
  padding: 0 40px; /* "0" sets top and bottom padding to none */
}

.nav li:hover {
  background: #777;
  transition: background .3s;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.container {
  text-align: center;
}

.container a {
  font-size: 3em;
  color: rgb(42, 41, 40);
  text-decoration: none;
}

.entry-container1 {
  background-color:rgb(234, 198, 121);
  height: 30vh;
}

.entry-container2 {
  background-color:rgb(76, 109, 127);
  height: 30vh;
}
.entry-container3 {
  background-color:rgb(53, 141, 109);
  height: 30vh;
}

.entry-container4 {
  background-color:rgb(207, 140, 152);
  height: 30vh;
}

.entry-container5 {
  background-color:rgb(42, 78, 134);
  height: 30vh;
}

.entry-container6 {
  background-color:rgb(169, 153, 191);
  height: 30vh;
}

.entry-container7 {
  background-color:rgb(87, 81, 90);
  height: 30vh;
}

.entry-container8 {
  background-color:rgb(234, 198, 121);
  height: 30vh;
}